[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-lsp-server = {extras = ["all"], version = "*"}
gunicorn = "*"
ruff = "*"
python-lsp-ruff = "*"
requests = "*"

[dev-packages]

[requires]
python_version = "3.12"
